* {
  font-family: sans-serif;
}

.activity-list {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  .activity-header {
    display:flex;
    justify-content: space-between;
    align-items: center;

    .usernameAndLogo {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 8px;
      }

      .username {
        font-size: 12px;
        color: #67617D;
      }
    }

    .channelName {
      color: #8560A9;
      font-size:12px;
      border: 1px #D3C1E5 solid;
      border-radius: 10px;
      padding:5px;
    }
  }

  .activity-body {
    margin-top: 8px;
    text-align:left;
    .activity-title {
      font-size: 18px;
      color: #453257;
      font-weight: bold;
    }

    .activity-date {
      font-size: 12px;
      color: #8560A9;
      display:flex;
      align-items:center;
      margin-top: 10px;
      .date-logo {
        margin-right: 5px;
      }

      .event-date {
      }
     
    }

    .activity-content {
      margin-top: 13px;
      font-size: 16px;
      color: '#67616D';
    }
  }

  .activity-footer {
    display: flex;
    flex-direction:row;
    margin-top: 12px;

    .likes {
      display: flex;
      margin-right:15px;

      .likes-logo {
        margin-right: 5px;
      }
    }
  }

  .line-border {
    border: 1px solid #E8E8E8;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 16px;
  }
}