.body {
  background:none;
}

.navBar-container {
  min-height: 100%;
  .navBar {
    display:flex;
    justify-content: space-between;
    // margin-top: 10px;
    background-color:#8560A9;
    padding-top: 10px;
    padding-bottom: 10px;
    .searchIcon {
      height: 24px;
      width: 24px;
      margin-left:10px;
    }

    .catIcon {
      height: 24px;
      width: 24px;
    }

    .giraffeIcon {
      height: 24px;
      width: 24px;
      margin-right:10px;
    }
  }
}