body {
  height:100%;
 
}


.LoginContainer {
  background: #8560A9 url('/Street-Dance-01.jpg') no-repeat center center fixed; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  height:100%;
  .first-title {
    padding-top:69px;
    font-size: 16px;
    color: #D5EF7F;
    font-family: sans-serif;
  }

  .second-title {
    padding-top:16px;
    font-size: 24px;
    color: #D5EF7F;
    font-family: sans-serif;
    font-weight: bold;
  }

  .cat-image {
    padding-top: 37px;
  }

  .login-form-container {
    margin-top:127px;
    display: flex;
    justify-content: center;
    .loginForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* width: 100%; */
      width: 70%;

      .input-container {
        display: flex;
        width: 100%;
        border: #D3C1E5 1px solid;
        border-radius: 20px;
        display: flex;
        align-items: center;
        width: 100%;
        /* justify-content: center; */
        min-height: 40px;
        .icon-user-password {
          width:15%;
        }
        input {
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 16px;
        }
      }

      .buttonSignIn {
        display:flex;
        align-items:center;
        justify-content: center;
        margin-top: 50px;
        min-height: 50px;
        background-color: yellow;
      }
    }
  }
  
}